
.center {
  /*margin: auto;*/
  /*width: 50%;*/
  /*padding: 10px;*/
  padding: 70px 0;
  text-align: center;
}

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav-bar {
  float: left;
}


li.nav-bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav-bar a:hover {
  background-color: #111;
}