{% load staticfiles %}

{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile App Catalog</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<ul class="nav-bar">
    <li class="nav-bar"><a href="{% url 'home' %}">Home</a></li>
    <li class="nav-bar"><a href="{% url 'request' %}">New Request</a></li>
    <li class="nav-bar"><a href="{% url 'all_requests'  %}">All Requests</a></li>
    <li class="nav-bar"><a href="{% url 'change_password' %}">Account</a></li>
    <li class="nav-bar"><a href="{% url 'help' %}">Help</a></li>
    <li class="nav-bar" style="float: right"><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% if request.user.is_authenticated %}
    <div class="container ">
        <h1 class="center">Change Password, {{ request.user.username }}</h1>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <div class="container pt-5">
        <p>Contact an admin at <b>'DL_IT Security Operations'</b> for changes to any other account information</p>
    </div>
{% else %}
    <div class="container pt-3 center">
        <h1>You need to login to view this page!</h1>
        <a href="{% url 'login' %}" class="button"><button type="button" class="btn btn-primary">login</button></a>
    </div>
{% endif %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
        integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
        crossorigin="anonymous"></script>
</html>


